.content {
  display: flex;
  flex-wrap: wrap;
}

.header_menu {
  display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

@media screen and (max-width: 361px) {
  .header_logo {
    width: auto;
    height: 48px;
    margin-right: 0.5em;
  }

  .header_title {
    margin-left: 0;
    font-size: 1.9em;
    vertical-align: bottom;
    width: 80%; 
  }

  .header {
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 570px) {
  
}
@media screen and (min-width: 570px) and (max-width: 599px) {
   
}
@media screen and (min-width: 700px) {
  
}

@media screen and (min-width: 850px) {
  main, .header_inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}